body {
  background-image: url("../images/BackgrounfFire.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

header {
  text-align: center;
  background-color: #000000;
  padding: 25px;
}

#main-header {
  color: lightgrey;
  font-size: 58px;
}

#subheader {
  color: lightgrey;
  font-size: 25px;
}

html {
  height: 100%;
  margin: 0;
}
